{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block logo_title %}Iscrizione pillole informative{% endblock %}

{% block content %}



  <main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body left">


                <br>

                {% if messages %}
                <ul class="messages alert alert-danger">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h3>Form di registrazione alle pillole informative della Direzione Centrale lavoro, formazione, istruzione e famiglia</h3>

                <p class="alert alert-info">Per accedere, inserisci il tuo numero di matricola e la tua email regionale.</p>


                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit">Login</button>
                </form>
                <br>

            </div>
          </div>

        </div>
       </div>



      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <br>
                <p>Per supporto tecnico informatico sul sistema di gestione delle iscrizioni, contattare <a href="mailto:marco.tessarotto@regione.fvg.it">Marco Tessarotto</a></p>

            </div>
          </div>

        </div>
      </div>

<!--        <div class="col-lg-6">-->

<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <h1 class="card-title">...</h1>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h1 class="card-title" align="center" >...</h1>
              <p>&nbsp;</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h1 class="card-title" align="center">...</h1>
              <p>&nbsp;</p>
            </div>
          </div>

        </div>
      </div>
      -->
    </section>

  </main><!-- End #main -->


{% endblock content %}

